{#{% extends 'url_coder/index.html.twig' %}#}

{#{% block title %}Hello UrlCoderController!{% endblock %}#}
{#{% block breadcrumb %}<a href="{{ path("url_coder_index") }}">{{ parent() }}</a>/Show data{% endblock %}#}

{#{% block contentContainer %}#}
{#    <div>#}
{#        <h1>Congratulation ✅</h1>#}
{#        <p>you create short link for your URL</p>#}
{#        {% extends 'url_coder/url-coder-base.html.twig' %}#}

{#        {% block title %}Codes list {{ parent() }}{% endblock %}#}
{#        {% block breadcrumb %}<a href="{{ path("url_coder_index") }}">{{ parent() }}</a>/Add new{% endblock %}#}
{#        {% block contentContainer %}#}
{#            <ul>#}
{#                <li>ID: <a href="{{ path('url_coder_item_info', {id: urlCode.id }) }}">{{ urlCode.id }}</a></li>#}
{#                <li class="url-code-url">URL: <img class="url-code-favicon" src="{{ faviconImage(urlCode.url) }}" alt="ico"> <a href="{{ urlCode.url }}">{{ urlCode.url }}</a></li>#}
{#                <li>Code: {{ urlCode.code }}</li>#}
{#                <li>Redirection count: {{ urlCode.counter }}</li>#}
{#                <li>Url for share: <span id="link-to-copy-{{ urlCode.id }}">{{ app.request.getSchemeAndHttpHost() }}{{ path('url_coder_index') }}{{ urlCode.code }}</span>#}
{#                    <button type="button" class="btn btn-success" onclick="copyText({{ urlCode.id }})">Copy</button>#}
{#                </li>#}
{#            </ul>#}
{#    </div>#}
{#{% endblock %}#}
